
body, html {
    height: 50%;
}
#header {
    margin-top: 20px;
}
h1, table, div{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
p{
    text-align: center;
    font-weight: bold;
}

a {
    float: left;
}
img {
    float: left;
}

td {
    border-bottom: 0.5px dashed;
    padding: 5px;
}

.download {
    cursor: pointer;
}

.download:hover {
    opacity: 0.5;
}

#buttonDiv1{
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    margin-left:5px;   
}
#buttonDiv2{
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-left: 4px;   
}